body {
    margin: 0;
    font-size: 16px;
    
}

button {
    background-color: #fff;
    border: none;
    padding: 25px 40px;
    border-radius: 40px;
    font-weight: 700;
    font-family: "Ubuntu";
    font-size: 20px;
    margin-top: 30px;

}

.wrapper {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu";
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 10vw ;
    position: sticky;
    top: 0;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: #333333;
    padding-right: 3vw;
    font-size: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 60px;
}

.banner {
    background-color: #333333;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 4em;
    letter-spacing: 2px;
    text-align: center;
}

main {
    padding: 5vh 10vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    line-height: 20px;
    justify-content: center;
}

.bigCard {
    width: 40vw;
    border-bottom: 2px solid #ccc;
}

.smallCard {
    width: 20vw;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10vh;
}

.smallCard img {
    height: 20vw;
}

.bigCard img {
    height: 20vw;
}

.fakeImg {
    width: 100%;
    height: 288px;
    background-color: #ccc;
}
.fakeCircle {
    width: 140px;
    height: 140px;
    background-color: #ccc;
    border-radius: 50%;
}

.quote {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer  {
    background-color: #4f4f4f;
    color: #ccc;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    padding: 2vw 10vw 10vw 10vw;
    justify-content: space-between;
}

.footerLeft {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerCenter {
    width: 312px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #ccc;
}

h2, p {
    font-family: "Open sans";
}

p {
    font-size: 14px;  
}


@media screen and (max-width: 600px) {
    .footerLeft {
        display: none;
    }

   
    .bigCard, .smallCard {
        width: 80vw;
    }

    .smallCard img {
    height: 80vw;
    }

    .bigCard img {
    height: 80vw;
    }


}